.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.helloWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #c7f0ff;
  font-family: monospace;
  line-height: 1;
  margin-bottom: 5rem;
}

.letter {
  position: relative;
  display: inline-block;
  width: 1.2ch; /* 讓字稍微拉開 */
  height: 2.5rem;
}

.ghost {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0.15;
  pointer-events: none;
  user-select: none;
}

.char {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transform-origin: center bottom;
}

.intro {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a8d4ee;
  letter-spacing: 0.03rem;
  margin-bottom: 0.25rem;
}

.subtitle {
  font-size: 1rem;
  color: #7ca6b9;
  font-weight: 400;
  opacity: 0.85;
  letter-spacing: 0.02rem;
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.buttons button {
  padding: 0.6rem 2.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--ifm-color-primary);
  color: white;
  cursor: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 200, 255, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.buttons button:hover {
  background-color: var(--ifm-color-primary-darkest);
  color: #ffffff;
  font-weight: bold;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 18px rgba(0, 255, 255, 0.7);
}



/* RWD */
@media (max-width: 768px) {
  .helloWrapper {
    margin-top: 5rem;
    font-size: 2.5rem; /* 原本是 5rem，縮小一半 */
    flex-wrap: wrap;
  }

  .letter {
    width: 1ch;
    height: 2.2rem;
  }

  .intro {
    margin-top: 2rem;
  }

  .name {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .buttons {
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 3rem;
  }

  .buttons button {
    width: 100%;
    font-size: 0.75rem;
  }
}
