/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  min-height: calc(100vh - var(--ifm-navbar-height));
  background-color: #041e27;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url('/img/cursor-circle.svg') 4 4, auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
